.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        text-align: center;
    }

    &-content {
        color: #fff;
        max-width: 80rem;
        text-align: center;
        padding: 2rem;
    }

    &-main-title {
        font-size: 5rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    &-content p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    &-buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    &-button-primary {
        padding: 1.5rem 3rem;
        background-color: #00bcd4;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
    }

    &-button-primary:hover {
        background-color: #0097a7;
    }

    &-button-secondary {
        padding: 15px 30px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        border: 2px solid #fff;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    &-button-secondary:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
    &-typing-text {
        color: rgb(17, 118, 201);
    }
}
